
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/AdminLayou.cshtml";
}

<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3><span>Thông Báo</span></h3>
    </div>
</div>
<div class="container">
    <br />
    <h1 style="text-align:center"> Reset mật khẩu thành công</h1>
    <div class="btn btn-default pull-left">
        @Html.ActionLink("Trở về ", "DSTK", "Admin")
    </div>
    <div class="clearfix"></div>
</div>


